* {
   box-sizing: border-box;
 }
  
   
    body {
     background-color: rgb(69, 65, 65);
     color: white;
     width: 100%;
    }
 
    header {
       width: 100%;
       margin-bottom: 20px;
       background-color: black;
       opacity: 80%;
       border: 2px solid orangered;
       
     }
 
    h1 {
       text-align: center;
     }
    
     nav {
       border: 1px solid yellow;
       
     }
 
     ul {
       border: 1px solid green;
       display: flex;
       flex-flow: row nowrap;
       list-style-type: none;
     }
 
     li {
       border: 1px solid indigo;
       width: 33%;
       text-align: center;
       text-decoration: none;
     }
 
     a {
       color: white;
       text-decoration: none;
     }
 
 
 
     #pocoFoto{
       display: flex;
       flex-flow: row wrap;
       padding: 0 0px;
       border: 2px solid white;
       width: 100%;
     } 
 
     .img_container {
       display: flex;
       flex-flow: column wrap;
       width: 22%;
       padding: 1px 1px;
      /*  border: 2px solid orange; */
     }
 
     img {
       margin-top: 8px;
       vertical-align: middle;
       width: 100%;
      /*  object-fit: contain; */
     }
 
 
 /* ∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆ */
 
 @media screen and (max-width: 480px) {
 
     #pocoFoto {
       display: flex;
       flex-flow: column nowrap;
       width: 100%;
     }
 
     img.container {
       width: 22%;
     }
 
     img {
       margin: 3px 0;
       width: 100%;
     }
 
 
 }
 
 
 
 /* ∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆ */
 
 /* @media screen and (min-width: 481px) {
 
   #pocoFoto {
       display: flex;
     }
 
     img.container {
      flex: 44%;
      max-width: 44;
     }
 
     img {
       margin: 2px 0;
     }
 
 } 
 */
 
 /* ∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆ */
    
 @media screen and (min-width: 481px) {
 
   #pocoFoto {
      
       margin: 0px 0px;
     }
 
     img.container {
      flex: 20%;
      flex-flow: column wrap;
      max-width: 20;
     }
 
     img {
       margin: 2px 0;
     }
 
 } 
    
 
    
 