  * {
     box-sizing: border-box;
  }

  body {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-content: space-around;
     align-items: center;
     background-color: black;
     color: white;
  }

  .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding: 100px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.7);
     /* Black w/ opacity */
     border: 3px solid orangered;
     box-shadow: 0px 0px 10px 3px white;
  }

  .modal-content {
     color: white;
     display: block;
     width: 1010px;
     z-index: 2;
     margin-left: auto;
     margin-right: auto;

  }

  .modal-content {
     animation-name: zoom;
     animation-duration: 0.2s;
  }

  @keyframes zoom {
     from {
        transform: scale(.95)
     }

     to {
        transform: scale(1)
     }
  }

  .details {
     width: 1000px;
     border: 3px solid aqua;
     border-radius: 3px;
     box-shadow: 0px 0px 10px 3px rgb(135, 177, 21) inset;
  }

  area {
     cursor: pointer;
  }

  .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
  }

  .close:hover,
  .close:focus {
     color: orangered;
  }

  .test {
     width: 1600px;
  }

  .detailCoords {
     width: 1600px;
  }

  .S2-1 {
     cursor: pointer;
  }