@charset "utf-8";


/* body {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
} */

header {
   padding: 10px;
   border: 2px solid white;
   box-shadow: 0px 0px 10px 5px orange;
}


div#tavoli {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   /*  border: 1px solid cornflowerblue; */
}



section#images {
   color: red;
}

div.row {
   display: flex;
    flex-flow: row wrap;
     justify-content: center;
      border: 2px solid aqua;
      box-shadow: 0px 0px 10px 5px white;
}

div.column {
   display: flex;
    margin: 10px;
     width: 30%;
     justify-content: center;
      /*  border: 1px solid pink; */
     
}


img {
   max-width: 77%;
    height: auto;
     border: 1px solid orange;
      
   
}









    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }

