@charset "utf-8";


/* body {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
} */

header {
   
   border: 2px solid white;
}



ul.navbar {
   display: flex;
   flex-flow: row wrap;
  
   margin: 50px;
   width:90%;
}









/*  µµµµµµµµµµµµµµµµµµµµµµµµµµ˜˜˜˜˜µµµµ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜˜˜˜˜˜˜µµµµµµ */

section#details {
                 border: 3px solid red;
   display: flex;
    margin-top: 50px;
}


div.row {
                 border: 2px solid orange;
   display: flex;
    flex-flow: row wrap;
     justify-content: center;
       height: 400px;
        width: auto;
         margin-top: 50px;
}

section#details > div.row > div.column {
                 border: 1px solid yellow;
   display: flex;
      min-width: 600px;
      justify-content: center;
     
}

img {
                 border: 2px solid orange;
   max-width: 77%;
    height: auto;
    
}










/*  µµµµµµµµµµµµµµµµµµµµµµµµµµ˜˜˜˜˜µµµµ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜µ˜˜˜˜˜˜˜µµµµµµ */


div#tavoli {
   display: flex;
   flex-flow: row wrap;
   border: 1px solid cornflowerblue;
   justify-content: center;
}

div#placeHolder {
   border: 2px solid orange;
   height: 600px;
}


section#images {
   color: red;
}













    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }

